footer#colophon.footer.site-footer(role='contentinfo')
	.footer-top
		.row.fix-row(style="background-color:#001318;")
			.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.fix-col
				.row.fix-row
					.col-md-3.col-sm-3.col-xs-12.fix-col
						a(href="https://www.facebook.com/turismoaltura/", target="_blank", style="text-decoration: none;")
							.boton-social.btn#btn-facebook
								.container-social
									i.fa.fa-facebook.icon-social
									p.text-social &nbsp;Facebook
					.col-md-3.col-sm-3.col-xs-12.fix-col
						a(href="https://twitter.com/AlturaTurismo", target="_blank", style="text-decoration: none;")
							.boton-social.btn#btn-twitter
								.container-social
									i.fa.fa-twitter.icon-social
									p.text-social &nbsp;Twitter
					.col-md-3.col-sm-3.col-xs-12.fix-col
						a(href="https://www.instagram.com/turismoaltura/", target="_blank", style="text-decoration: none;")
							.boton-social.btn#btn-instagram
								.container-social
									i.fa.fa-instagram.icon-social
									p.text-social &nbsp;Instagram
					.col-md-3.col-sm-3.col-xs-12.fix-col
						a(style="text-decoration: none;")
							.boton-social#btn-whatsapp
								.container-social
									i.fa.fa-whatsapp.icon-social
									p(style="cursor: text;").text-social &nbsp;+569 8952 7732
		.row.fix-row.footer-row-logo
			.col-md-offset-3.col-md-6.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4
				.row.fix-row
						img(src="images/turismoaltura_logo.png", width="80px").footer-logo
		.row.footer-row
			p <strong>Turismo Altüra</strong>
		.row.footer-row
			p contacto@turismoaltura.cl
		.row.footer-row
			a(href='/terminos.html', lang="es") Terminos y condiciones de uso.
		.row.footer-ultima-row
			p(lang="es") @2016 Turismo Altüra. Todos los derechos reservados




