
.head-overlay
    div.head-overlay
      ul.bxslider
        li
          div.head-overlay
            img(src='images/slider/a.jpg', alt='Site Logo')
          div.slider-text
            div.slide-inner
              h2.titulo-home(data-animation='wow animated bounceInDown', lang="es")
                | Bienvenido a <span class="color-secundario"> Turismo Altüra</span>
        li
          div.head-overlay
            img(src='images/slider/b.jpg', alt='Site Logo')
          div.slider-text
            div.slide-inner
              h2(data-amimation="", lang="es").titulo-home
                | ¡Vive la <span lang="es" class="color-secundario"> experiencia Altüra!</span>
        li
          div.head-overlay
            img(src='images/slider/uva.jpg', alt='Site Logo')
          div.slider-text
            div.slide-inner
              h2(data-amimation="", lang="es").titulo-home <span lang="es" class="color-secundario"> Descubre </span> los sabores y secretos de Chile
