.parallax-empresa
	.contenedor-sombra
		.titulo-carrusel
			h2(lang="es") Quienes somos
		#carrusel-empresa(data-ride="carousel" data-interval="8000").carousel.slide.ajuste-carrusel
				//indicadores
				ol.carousel-indicators
					li(data-target="#carrusel-empresa" data-slide-to="0").active
					li(data-target="#carrusel-empresa" data-slide-to="1")
					li(data-target="#carrusel-empresa" data-slide-to="2")
					li(data-target="#carrusel-empresa" data-slide-to="3")
				//wrapper slides
				div(role=listbox).carousel-inner.ajuste-carrusel
					.item.active
						.contenido-empresa
							p(lang="es")
								<strong lang="es">Liderada por dos profesionales de la industria</strong>, Turismo Altüra es una empresa joven, orientada a entregar una experiencia única y privada a los turistas que deseen conocer la zona central de Chile. Destaca la cercanía lograda con las personas que prefieren a Turismo Altüra.
					.item
						.contenido-empresa
							p(lang="es")
								<strong lang="es">Turismo Altüra </strong>se dedica a otorgar un servicio de excelencia, completamente de acuerdo a las necesidades y requerimientos de cada grupo de turistas. Por este motivo, ningún servicio entregado por Turismo Altüra es igual a otro: cada tour es una experiencia única e irrepetible.
					.item
						.contenido-empresa
							p(lang="es")
								<strong lang="es">Nuestra misión</strong> es entregar las mejores experiencias a través de Circuitos Turísticos Privados de la más alta calidad en increíbles destinos nacionales, principalmente de la zona central de Chile, con un interés especial en fomentar el desarrollo de negocios locales, buscando satisfacer las necesidades identificadas de nuestros clientes, por medio de la flexibilidad y la comunicación constante, de modo de enriquecer tanto a la sociedad residente como a la visitante.
					.item
						.contenido-empresa
							p(lang="es")
								<strong lang="es">Nuestra visión</strong> es ser una empresa líder en el mercado turístico, capaz de satisfacer las necesidades de  cada grupo de turistas que lleguen al país.

