
.div-tours
	h2.subtitulo-home.color-logo(lang="es")
		| Turismo Altüra <span class="cambio-color" style="color: black">Tours</span>

	.row.fix-row(style="margin-top: 75px;")
		.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-8.col-xs-offset-2
			.row
				.col-md-4.col-sm-4.col-xs-12
					.row.contenedor-attr.fix-row
						.col-md-4.col-sm-12.col-xs-12.fix-col
							i.fa.fa-heart.icon-attr
						.col-md-8.col-sm-12.col-xs-12.fix-col
							span.text-attr(lang="es") Tours flexibles a sus necesidades
				.col-md-4.col-sm-4.col-xs-12
					.row.contenedor-attr.fix-row
						.col-md-4.col-sm-12.col-xs-12.fix-col
							i.fa.fa-dollar.icon-attr
						.col-md-8.col-sm-12.col-xs-12.fix-col
							span.text-attr(lang="es") Valores acordes a sus requisitos
				.col-md-4.col-sm-4.col-xs-12
					.row.contenedor-attr.fix-row
						.col-md-4.col-sm-12.col-xs-12.fix-col
							i.fa.fa-group.icon-attr
						.col-md-8.col-sm-12.col-xs-12.fix-col
							span.text-attr(lang="es") Viajes seguros con profesionales

	.row.fix-row
		.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-8.col-xs-offset-2
			br
			br
			p.centrar-texto(lang="es")
				| Conozca los increíbles atractivos turísticos de la zona central de Chile: la belleza del Océano Pacífico, los fascinantes viñedos, la historia de Santiago, la naturaleza presente en el valle y los emocionantes deportes de invierno.

	.row.fix-row
		.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-8.col-xs-offset-2
				.row
					.col-md-4.col-sm-4.col-xs-12
						div.gallery
							.categoria-circle
								a(href="mar.html")
									img(src="images/mar.jpg", alt="Viaje").img-categoria
								a(href="mar.html", class="text")
									div(lang="es") Mar
					.col-md-4.col-sm-4.col-xs-12
						div.gallery
							.categoria-circle
								a(href="valle.html")
									img(src="images/valle.jpg", alt="Viaje").img-categoria
								a(href="valle.html", class="text")
									div(lang="es") Valle
					.col-md-4.col-sm-4.col-xs-12
						div.gallery
							.categoria-circle
								a(href="montana.html")
									img(src="images/montana.jpg", alt="Viaje").img-categoria
								a(href="montana.html", class="text")
									div(lang="es") Montaña
